<!DOCTYPE HTML>
<html>

  {{header}}


    <main>

      <!-- Format for the search icons of the movies -->
        <div class="nodeContainer">
          {{#each}}
            {{movie}}
          {{/each}}

        </div>
    </main>
</html>
