<link rel="stylesheet" href="../CSS/main.css" media="screen"> <!-- CSS style sheet -->
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet"> <!-- Font -->

<head>
  <meta charset="utf-8">
  <title>Olu</title>
</head>


  <header>
    <a href="#"><h1>Olu</h1></a>

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Categories</a></li>
        <li>
          <input type="text" placeholder="Search...">
        </li>
      </ul>
    </nav>
  </header>
