<main>

  <article class="playerContainer">
    <div class="">
      <a href="#"><img class="movie" src="snapshot20090411001155.jpg"></a>
      <p class="movieDescription">
        Movie Description: Hawty vampires go have hawt chemistry in the woods. They come across a big furry and they have to fight for the sad grill that only wants all the D. Lessons learned, nobirdie wins, and everyone goes home for pizza. Or should I say... PIAZZA!
      </p>
    </div>
  </article>

  <!-- These will be sample categories -->
  <div class="nodeContainer">
      <li class="movieCategory">
          <a href="#"><img class="movieCategoryPicture" src="stock-photo-recreation-of-the-scene-with-hasbro-action-figures-from-star-wars-a-new-hope-where-bounty-hunter-513457909.jpg"></a>
      </li>
      <li class="movieCategory">
          <a href="#"><img class="movieCategoryPicture" src="download.jpg"></a>
      </li>
      <li class="movieCategory">
          <a href="#"><img class="movieCategoryPicture" src="images.jpg"></a>
      </li>
  </div>
</main>
