<div class="">

  <h3>{{title}}</h3>

  <video width="768" height="432" controls autoplay>
    <source src="" type= {{mp4}}><!-- We have to use mp4 -->
    Your browser does not support the video tag.
  </video>

  <p>
    {{description}}
  </p>
</div>
