<header>
  <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
  <a href="#"><h1 class="site-title"><i class="fa fa-hand-lizard-o"></i> tweeter</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="#">Home</a></li>
      <li class="navitem navlink"><a href="#">Trending</a></li>
      <li class="navitem navlink"><a href="#">People</a></li>
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>
