body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

header {
    color: cadetblue;
}

li {
    display: inline;
    text-decoration: none;
    list-style: none;
    font-size: 1.6em;
    padding: 20px;
}

a {
    color: cadetblue;
    text-decoration: none;
}

h1 {
    margin:0;
    color: cadetblue;
    font-size: 6em;
    text-align: center;
}

nav {
    margin: 0;
    list-style-type: none;
    text-align: center;
    margin-right: 2.5%;
    margin-bottom: 50px;
}

.navItems {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
/*
    width: 90%;
    margin: 2% 4.5% 12px 4.5%;
*/
    
}

.navItem {
    flex-grow: 1;
}

.playerContainer {
/*    border-radius: 20px;*/
/*    background-color: cadetblue;*/
    border-color: cadetblue;
    padding: 20px 5px 2px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.movie {
    border-style: solid;
    border-color: cadetblue;
    border-width: 9px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: auto;
}

.movieTitle {
    margin: 2% 4.5% 12px 4.5%;
    text-align: center;
}

.movieDescription {
    margin-top: 0;
    padding: 6px;
    border-spacing: 200px;
    display: block;
    border-style: solid;
    
    border-color: cadetblue;
/*    color: whitesmoke;*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
}

.nodeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movieCategory {
    order: <integer>;
    margin: 10px;
    padding: 0;
    width: 363px;
    height: 230px;
    border-color: cadetblue;
    border-style: solid;
    border-width: 7px;
    border-radius: 18px;
}

.movieCategoryPicture {
    width: 363px;
    height: 230px;
    border-radius: 10px;
}

.movieNode {
    margin: 0;
    font-size: 1.4em;
    text-align: center;
}

.movieNodePicture {
    margin: 0;
    width: 320px;
    height: 203px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

#addCommentButton {
    margin: 0 0 0 40px;
    padding: 10px;
    border-radius: 20px;
    background-color: cadetblue;
    width: 200px;
    border-style: solid;
    border-color: cadetblue;
    margin: 2% 4.5% 12px 4.5%;
}

.commentContainer {
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 2% 4.5% 12px 4.5%;


}

.comment {
    max-width: 400px;
    border-radius: 30px;
    border-style: solid;
    border-color: cadetblue;
    padding: 0;
    margin: 0 0 1px 0;
    font-size: 1em;
}

.commentAuthor {
    display: block;
    float: right;
    margin: 0 4.5% 0 0;
}

.commentText {
    margin: 0 40px 0 40px;
}

.hidden {
  display: none;
}

#modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#createCommentModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}


/* Stuff from Tweeter */

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.comment-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.comment-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.comment-input-element input,
.comment-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.comment-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: cadetblue;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: cadetblue;
}
