<main>

      <!-- Format for the search icons of the movies -->
        <div class="nodeContainer">

          {{#each movieArray}}
            {{> movie}}
          {{/each}}


        </div>
    </main>
