{{!
  Write a handlebars template in this file to implement the main tweeter page,
  as described in README.md.
}}
<main>

    <article class="playerContainer">
      <div class="">
        <a href="/Play/0"><img class="movie" src="/pic/The_Boy_In_The_Plastic_Bubble.jpg"></a>
        <p class="movieDescription">
          The girl next door makes a teen born with immune deficiencies want to leave his germ-free bubble.
        </p>
      </div>
    </article>

    <!-- These will be sample categories -->
    <div class="nodeContainer">
        <li class="movieCategory">
            <a href="/Play/1"><img class="movieCategoryPicture" src="/pic/Flash_Gordon.jpg"></a>
        </li>
        <li class="movieCategory">
            <a href="/play/2"><img class="movieCategoryPicture" src="/pic/Glen_or_Glenda.jpg"></a>
        </li>
        <li class="movieCategory">
            <a href="/play/3"><img class="movieCategoryPicture" src="/pic/Reefer_Madness.jpg"></a>
        </li>
    </div>
  </main>
